### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [2]:
#Calculate Total # of Players
Total_Players = purchase_data["SN"].nunique()

# Create a dictionary for Total Player as length of the purchase data "SN" value count
count = [{"Total Players": Total_Players}]

# Convert count into a DataFrame
count_df = pd.DataFrame(count)

#Print DataFrame
count_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [4]:
#Calculate the number of Unique Items
Unique_Item_Count = purchase_data["Item Name"].nunique()

#Calculate the average Price
Average_Price = round(purchase_data["Price"].mean(),2)

#Calculate the Number of Purchases
Purchase_Count = purchase_data["Purchase ID"].count()

#Calculate Total Revenue
Total_Revenue = purchase_data["Price"].sum()

#Create the dictionary for the Analysis Table
Purchasing_Analysis_Table = [{"Number of Unique Items": Unique_Item_Count, "Average Price": Average_Price, "Number of Purchases": Purchase_Count, "Total Revenue": Total_Revenue}]

#Turn the Analysis Table dictionary into a DataFrame
PA_Table_df = pd.DataFrame(Purchasing_Analysis_Table)

#Format the Average Price and Total Revenue columns
PA_Table_df["Total Revenue"]=PA_Table_df["Total Revenue"].map("${:,.2f}".format)
PA_Table_df["Average Price"]=PA_Table_df["Average Price"].map("${:,.2f}".format)

#Print the Data Frame
PA_Table_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [6]:
#Create New Data Frame
Unique_Purchase_df = purchase_data.loc[:,["Gender", "Age", "SN"]]
Unique_Purchase_df = Unique_Purchase_df.drop_duplicates()

#Calculate gender count
gender_count = Unique_Purchase_df["Gender"].value_counts()

#Calculate gender percent
gender_percent = round((gender_count/Total_Players) *100,2)

#Create Data Frame for Gender Demographics
Gender_Demographic = pd.DataFrame({"Total Count":gender_count,
                                   "Percentage of Players":gender_percent})

#Print Data Frame
Gender_Demographic

                       Total Count  Percentage of Players
Male                           484                  84.03
Female                          81                  14.06
Other / Non-Disclosed           11                   1.91


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [10]:
#Group data by gender
gender_grouped_df = purchase_data.groupby(["Gender"])

#Calculate Purchase Count by gender
gender_counts = gender_grouped_df["SN"].count()

#Calculate Avg. Purchase Price by gender
gender_mean_price = gender_grouped_df["Price"].mean()

#Calculate Total Purchase Value by gender
gender_total_price = gender_grouped_df["Price"].sum()

average_per_person = round(gender_total_price/Gender_Demographic["Total Count"],2)


#Create Data Frame for Gender Analysis
Gender_Analysis = pd.DataFrame({"Purchase Count": gender_counts,
                                "Average Purchase Price": gender_mean_price,
                                "Total Purchase Price": gender_total_price,
                                "Avg Total Purchase per Person": average_per_person})

#Format Currency Values
Gender_Analysis["Average Purchase Price"] = Gender_Analysis["Average Purchase Price"].map("${:,.2f}".format)
Gender_Analysis["Total Purchase Price"] = Gender_Analysis["Total Purchase Price"].map("${:,.2f}".format)
Gender_Analysis["Avg Total Purchase per Person"] = Gender_Analysis["Avg Total Purchase per Person"].map("${:,.2f}".format)

#Print Data Frame
Gender_Analysis

,Purchase Count,Average Purchase Price,Total Purchase Price,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame